a[target="_blank"] {
    color: blue;
    text-decoration: underline;
}

nav {
    width: 100%;
    height: 80px;
    margin: 0px;
    box-shadow: 1px 2px 5px #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
}

head {
    margin: 0;
}

body {
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: #696969
}

@media (max-width: 1210px) {
    nav ul {
        list-style: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 50px;
        justify-content: end;
        font-weight:bold;
        position: absolute;
        top: 60px;
        right: 0px;
        display: none;
        opacity: 0;
        background-color: white;
        width: 50vw;
        height: 100vh;
        margin: 0px;
        z-index: 2;
        margin-right: 0px;
        transition: opacity 0.5s ease;
        padding-left: 3%
    }

    nav ul.show {
        display: block;
        opacity: 1;
    }

    nav ul li {
        margin: 10% 10%;
        font-size: 18px;
        color: #696969;
        z-index: -100000;
    }

    nav li h2 {
        margin-top: 50px
        
    }

    .menu {
        text-align: center;
        background-color: #696969;
        color: white !important;
        padding: 5px;
        border-radius: 5px;
        margin-left: 5%
    }

    nav ul li a {
        text-decoration: none;
        color: white
    }

    .judul-nav h1 {
        font-size:8px;
    }

    .overlay {
        position: absolute;
        background-color: #6969697a;
        width: 100%;
        height: 100vh;
        z-index: 2;
        display: none;
        position: fixed;
    }
    
}

@media (min-width: 1209px) {
    li h2 {
        display: none;
    }

    .show {
        display: none;
    }

    nav ul {
        list-style: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex !important;
        align-items: center;
        height: 50px;
        justify-content: end;
        margin-right: 250px;
        font-weight:bold;
        color: #696969;
    }

    nav ul li {
        margin: 10px 30px;
        font-size: 20px;
    }

    nav ul li:hover {
        color: #131349ff;
        border-bottom: 3px solid #131349ff;
    }

    /* .menu:hover {
        color: #131349ff;
        border-bottom: 3px solid #131349ff;
    } */

    .about-section p:hover::first-letter {
        font-size: 4rem;
        font-weight: bold;
        color: #131349ff;
        float: left;
        margin: 0 10px 0 0;
      }
}

.logo-nav {
    width: 90px;
    /* position: absolute; */
    margin-left: 150px;
}

@media (max-width: 1300px) {
    .logo-nav {
        margin-left: 80px;
    }
}

@media (max-width: 1100px) {
    .logo-nav {
        margin-left: 60px;
    }
}

@media (max-width: 768px) {
    .logo-nav {
        margin-left: 40px;
    }
}

@media (max-width: 480px) {
    .logo-nav {
        margin-left: 25px;
        width: 75px
    }
}

.judul-nav {
    display: flex;
    align-items: center;
}

.judul-nav h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    margin-left: 20px;
    border: 1px solid #696969;
    padding: 0px 10px;
    border-radius: 5px;
}

.image-profile img {
    width: 300px;
    border-top-right-radius: 100px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 100px;
    box-shadow: 1px 4px 8px #696969;
}

.image-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.text-profile {
    text-align: center;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-profile h1 {
    font-weight: bold;
    font-size: 50px;
}

.text-profile h2 {
    font-weight:normal;
    font-size: 30px;
}

.icon-custom {
    color: white;
    font-size: 25px;
    text-align: center;
}

.icon-nav {
    font-size: 35px;
    margin-right: 5%;
}

.icon-nav:hover {
    cursor: pointer;
}

.icon-close {
    font-size: 35px;
    position: absolute;
    top: 20px;
    right: 5%;
    transition: 0.5s;
}

.box-icon-custom {
    background-color: #333;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.5s ease;
}

.box-icon-custom:hover {
    background-color: white;
    border-bottom: 3px solid #696969;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.box-icon-custom:hover .icon-custom {
    color: #696969;
    font-size: 25px;
    text-align: center;
}

.icon-contact {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.icon-contact .box-icon-custom {
    margin: 0px 15px
}

.color {
    color: #131349ff
}

@media (max-width: 600px) {
    nav ul li {
        margin: 10% 10%;
        font-size: 14px;
        color: #696969;
        z-index: -100000;
    }

    .box-icon-custom {
        background-color: #333;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: 0.5s ease;
        margin-left: 10px
    }

    .icon-custom {
        color: white;
        font-size: 15px;
        text-align: center;
    }

    .image-profile img {
        width: 200px;
        border-top-right-radius: 80px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 80px;
        box-shadow: 1px 2px 4px #696969;
    }

    .text-profile h1 {
        font-weight: bold;
        font-size: 35px;
    }

    .text-profile h2 {
        font-weight:normal;
        font-size: 20px;
    }

    .box-icon-custom:hover {
        background-color: white;
        border-bottom: 3px solid #696969;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }
    
    .box-icon-custom:hover .icon-custom {
        color: #696969;
        font-size: 20px;
        text-align: center;
    }

    nav {
        width: 100%;
        height: 60px;
        margin: 0px;
        box-shadow: 1px 2px 4px #696969;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        background-color: white;
        z-index: 2;
    }

    .image-profile {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20%;
        padding-bottom: 5%
    }

    .icon-nav {
        font-size: 35px;
        margin-right: 8%
    }
      
}


main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.container-particle-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

section {
    background-color: white;
}
  
.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.7;
    animation: float 100s infinite ease-in-out;
    z-index: -100;

}
  
@keyframes float {
    0% {
      transform: translateY(0);
      opacity: 0.7;
    }
    50% {
      transform: translateY(-100px);
      opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0.7;
    }
}

.scroll-down {
    width: 30px;
    height: 60px;
    border: 5px solid black;
    border-radius: 18px;
    position: relative;
    left: 80vw;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    animation: scroll 2s infinite linear;
}

@keyframes scroll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(25px);
        opacity: 0.4;
    }
}

.container-scroll-down {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-scroll-down h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    animation: animation-text 1.5s infinite linear;
}

@keyframes animation-text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Animasi elemen scroll */
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.about-section {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #131349ff;
    display: inline-block;
    background-color: transparent ;
}

.about-section p {
    margin-bottom: 15px;
    text-align: justify;
    transition: transform 1s ease, color 1s ease;
    font-size: 1.15rem;
}

.about-section p:hover {
    transform: translateX(10px);
    color: #131349ff;
}

.about-section p:first-of-type::first-letter {
    font-size: 4rem;
    font-weight: bold;
    color: #131349ff;
    float: left;
    margin: 0 10px 0 0;
}

.event-section {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
    background-color: transparent;
}

.event-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #131349ff;
    display: inline-block;
    background-color: transparent;
}

.event-section p {
    margin-bottom: 0px;
    transition: transform 1s ease, color 1s ease;
    font-size: 1.15rem;
}

.event-box {
    box-shadow: 2px 4px 8px#696969;
    position: relative;
    width: 380px;
    height: 250px;
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.event-box img {
    margin: 0px;
    width: 400px;
    height:250px;
    object-fit: cover;
    filter: brightness(30%);
    transition: filter 0.5s ease;
}

.event-box img:hover {
    filter: brightness(80%);
}

.event-box h3 {
    position: absolute;
    top: 0px;
    right: 10%;
    color: white;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.event-box p {
    position: absolute;
    text-align: left;
    bottom: 0px
}

.description {
    opacity: 1;
    color: white;
    font-size: 0.8rem !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    transition: opacity 1s ease-in, background-color 10s ease;
    padding: 0px 11% 60px 11%;
    line-height: 1.2;
}

.button-box {
    background-color: white;
    color: #333;
    position: absolute;
    bottom: 15px;
    left: 10%;
    text-align: center;
    width: 80%;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    padding: 8px 0;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 1px 2px 4px #333;
}

.container-event-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    position: relative;
}

.acara {
    position: absolute;
    top: 10px;
    left: 10%;
    z-index: 1;
    color: white;
    background-color:#333333c7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px !important;
    height: 18px;
    padding: 5px 7px 7px 7px;
    border-radius: 10px;
}

.skill-section {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
    background-color: transparent;
}

/* Styling skill section */
.container-image-skill {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.container-image-skill img {
    width: 200px;
    min-width: 100px;
    object-fit: contain;
    aspect-ratio: 4/3;
    /* mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply; */
}

.box-skill {
    width: 200px;
    padding: 20px 0px;
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 4px 8px #696969;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1;
    background-color: white;
}

.box-title-skill {
    width: 200px;
    padding: 5px 0px;
    margin: 0px 20px;
    box-shadow: 2px 4px 8px #696969;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    position: relative;
    border-top: 0.5px solid #696969;
}

.box-title-skill h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px 20px;
}

.skill-bar {
    background-color: #999999;
    width: 80%;
    height: 10px;
    margin: 5px 10%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.bar {
    margin: 0px 5px;
    background-color: #131349ff;
    height: 6px;
    border-radius: 5px;
    transition: width 5s ease;
}

.container-box-skill:nth-of-type(1) .bar {
    width: 80%
}

.container-box-skill:nth-of-type(2) .bar {
    width: 70%
}

.container-box-skill:nth-of-type(3) .bar {
    width: 40%
}

.container-box-skill:nth-of-type(4) .bar {
    width: 60%
}

.container-box-skill:nth-of-type(5) .bar {
    width: 30%
}

.skill-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #131349ff;
    display: inline-block;
}

.presentase {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px 20px;
    position: absolute;
    top: 6px;
    right: 0px
}

footer {
    width: 100%;
}

.container-section-footer {
    width: 90%;
    margin: 0px 5%;
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
}

.section-footer1 {
    width: 100%;
    display: grid;
    place-items: center;
    border: none;
}

.section-footer1 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    margin-left: 20px;
    border: 1px solid #696969;
    padding: 0px 10px;
    border-radius: 15px;
}

.section-footer1 img {
    width: 200px;
}

.title-logo-footer p {
    text-align: left;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    color: #333;
    line-height: 10px;
}

.section-footer2 {
    background-color: white;
    width: 100%;
    border: none;
}

.section-footer2 ul {
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#333;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr; 
    gap: 10px 20px;
    justify-items: start;
    padding: 0px 20px
}

.section-footer2 h2 {
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
    margin-left: 15px;
}

.section-footer3 {
    background-color: white;
    width: 100%;
    border: none;
}

.section-footer3 h2 {
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
    margin-left: 15px;
}

.icon-contact-footer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr; 
    gap: 10px 20px;
    justify-items: start;
    padding: 0px 20px
}

.box-icon-custom-footer {
    width: 100%px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: center !important;
}

.icon-custom-footer {
    color:#696969;
    font-size: 18px;
    text-align: left;
}

.box-icon-custom-footer p {
    margin-left: 10px;
    color: #696969;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.icon-contact-footer a {
    text-decoration: none;
}

footer p {
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px 0px
}

@media (max-width: 1100px) {
    .section-footer1 h1 {
        font-size: 4rem;
        margin-right: 20px;
    }
}

@media (max-width: 800px) {
    .container-section-footer {
        flex-wrap: wrap;
    }

    .section-footer1 {
        display: none;
    }

    .section-footer3 h2 {
        margin-top: 10px;
    }

    footer p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .section-footer2 ul {
        grid-template-columns: 0.5fr 0.5fr 0.5fr; 
    }

    .section-footer2 ul {
        font-size: 1rem;
    }

    .box-icon-custom-footer p {
        font-size: 1rem;
    }

}

@media (max-width: 450px) {
    .section-footer2 ul {
        font-size: 0.8rem;
    }

    .box-icon-custom-footer p {
        font-size: 0.8rem;
    }
}

.box-project-section {
    width: 100%;
    height: 500px;
    /* background-color: white; */
    position: relative;
    box-shadow: 8px 9px 12px #333;
    border-radius: 10px;
    margin: 20px 0px;
    position: relative;
    border: 0.3px solid #333
}

.box-project-section h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    margin: 3% 5%
}

.box-project-section img {
    margin: 0px;
    width: 40%;
    height: auto;
    /* object-fit: cover; */
    transform: translate(30%, 20%);
}

@media (max-width: 700px) {
    .box-project-section img {
        transform: translate(75%, 10%)
    }
}

.button-project-section {
    background-color: #333;
    color: white;
    width: 40%;
    height: 40px;
    gap: 100px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.container-button-project {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 40px;
    gap: 20px;
}

nav li a:is(:link, :active, :visited).active {
    list-style: none;
    display: flex;
    cursor: pointer;
    color: #131349ff;
    border-bottom: 3px solid #131349ff
}

/* Message */

.message-section {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
    background-color: transparent;
}

.message-box {
    width: 100%;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.message-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #131349ff;
    display: inline-block;
    background-color: transparent;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border: none;
}

.form-formal {
    display: block;
}

.form-anonim {
    display: none;
}

@keyframes next {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

input {
    border: none;
    border-bottom: 1px solid #333;
    height: 20px;
    padding: 5px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

textarea {
    border: none;
    border-bottom: 1px solid #333;
    height: 150px;
    padding: 5px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.css-button-local {
    background-color: #696969;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    height: auto;
    border: none;
    margin: 0px 20px 20px 20px
}

.button-next-form {
    background-color: #696969;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    height: auto;
    border: none;
    margin: 0px 20px 20px 20px;
    position: absolute;
    right: 0px;
    bottom: 0px
}

@media (max-width: 700px) {
    .about-section {
        padding: 40px;
        font-size: 0.9rem;
    }

    .event-section {
        padding: 40px;
        font-size: 0.9rem;
    }
    
    .skill-section {
        padding: 40px;
        font-size: 0.9rem;
    }

    .message-section {
        padding: 40px;
        font-size: 0.9rem;
    }

    .about-section p{
        font-size: 0.9rem;
    }

    .event-box {
        box-shadow: 2px 4px 8px#696969;
        position: relative;
        width: 350px;
        height: 200px;
        justify-content: center;
    }
    
    .event-box img {
        margin: 0px;
        width: 350px;
        height:200px;
        object-fit: cover;
        filter: brightness(70%);
        transition: filter 0.5s ease;
    }
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 1000px) {
    section {
        scroll-margin-top: 100px !important
    }
}

[data-aos="fade-out"] {
    padding-top: 100px; /* Atur sesuai kebutuhan */
}

.card-jurnal {
    height: 100%;
    width: 340px;
    position: fixed;
    top: 70px;
    left: 0;
    /* border-right: 0.5px solid #696969; */
    padding: 100px 20px 20px 20px;
    /* background-color: white; */
    transition: transform 1s ease;
    z-index: 1;
    overflow: hidden;
    transform-origin: top;
    justify-content: center;
    transform: translateX(-100%);
    /* -webkit-backdrop-filter: blur(2px); */
    /* backdrop-filter: blur(2px); */
}

.jurnal {
    padding: 15px;
    /* border: 0.5px solid white; */
    margin: 10px 0px;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 1px 3px 5px #333;
}

/* .card-jurnal h2 {
    text-align: center;
    border-top: 0.5px solid #696969;
    border-bottom: 0.5px solid #696969;
    margin-bottom: 0px;
    width: 100%;
    background-color: white;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
} */

.card-jurnal img {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px 200px 0px
}

.jurnal h3 {
    font-size: 12px;
    margin-top: 5px;
    text-overflow: ellipsis;
    line-height: 1.20;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border-bottom: 0.5px solid white;
    padding-bottom: 5px;
    color: white;
}

.jurnal a {
    text-decoration: none;
    color: white
}

.jurnal p {
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: white
}

@keyframes in-frame {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.custom-arrow {
    position: absolute;
    color:#333;
    right: 5px;
    top: 7px;
    font-size: 28px;
}

.button-sidebar {
    background-color: #333;
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    position: fixed;
    top: 120px;
    left: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 1;
    transition: opacity 0.5s ease !important;
    z-index: 2;
    border: none;
    box-shadow: 1px 2px 4px #333;
    cursor: pointer
}

@media (max-width: 600px) {
    .button-sidebar {
        background-color: #333;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}

@media (max-width: 380px) {
    .card-jurnal {
        width: 250px
    }
}

.button-sidebar p {
    font-size: 18px;
    margin: 0px 0px 0px 5px;
    display: none;
    transition: display 1s ease;
}

@media (min-width: 500px) {
    .button-sidebar:hover p {
        display: block;
    }
}

@media (max-width: 500px) {
    .button-sidebar p {
        font-size: 18px;
        margin: 0px 0px 0px 5px;
        /* opacity: 0; */
        display: none;
    }
}

@media (min-width: 1800px) {
    .container-landing-page {
        display: flex;
        /* padding: 8% 20% */
        position: relative;
    }

    .text-contact {
        align-content: left;
        width: 100%;
        margin-top: 11%;
        margin-bottom: 12%;
        margin-right: 20%;

    }

    .image-profile img{
        position: absolute !important;
        margin-top: 5%;
        margin-left: 30%

    }
}

.text-persuasif {
    text-align: center;
    height: 100%;
    background: linear-gradient(135deg, #333, white);
}

.text-persuasif h3 {
    text-align: center;
    height: 20px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}