body {
    margin: 0;
    overflow: hidden;
    background-color: white; /* Background hitam agar partikel terlihat */
  }
  
  .particles-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.7;
    animation: float 100s infinite ease-in-out;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
      opacity: 0.7;
    }
    30% {
      transform: translateY(-100px);
      opacity: 1;
    }
    60% {
        transform: translateX(0);
        opacity: 0.7;
      }
    70% {
      transform: translateX(-100PX);
      opacity: 0.7;
    }
    100% {
        transform: translateX(0);
        opacity: 0.7;
      }

  }
  